/* ================= LOGIN ================= */

.login-section {
    min-height: calc(100vh - 160px); /* header + footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;  /* 👈 esto lo baja */
}

.login-box {
    width: 100%;
    max-width: 420px;
    padding: 32px;

    background: rgba(255,255,255,0.06);
    border-radius: 18px;

    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}

.login-box label {
    font-size: 13px;
    opacity: 0.85;
}

.login-box input {
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box; 
    background: rgba(0,0,0,0.35);
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 10px;

    color: white;
    font-size: 14px;
}

.login-box button {
    margin-top: 10px;
    padding: 14px;

    background: linear-gradient(135deg, #00bcd4, #00a0b8);
    border: none;
    border-radius: 14px;

    color: #fffcfc;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-box button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.35);
}

/* ===== botón tipo link ===== */
.link-button {
    background: none !important;
    color: #7CFFB2;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    margin-top: 6px;
    cursor: pointer;
    text-decoration: underline;
}

.link-button:hover {
    color: #9dffd0;
    box-shadow: none;
    transform: none;
}

.login-message {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    opacity: 0.9;
}

/* ================= MODAL ================= */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-box {
    width: 100%;
    max-width: 420px;
    padding: 28px;

    background: rgba(40,40,40,0.95);
    border-radius: 18px;

    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
    color: white;
}

.modal-box h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.modal-box p {
    font-size: 14px;
    opacity: 0.9;
    line-height: 1.4;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
}

.btn-primary {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    background: linear-gradient(135deg, #00bcd4, #00a0b8);
    color: #000;
    font-weight: 600;
}

.btn-secondary {
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: transparent;
    color: white;
    cursor: pointer;
}
